
.wrapper{
    display: grid;
    grid-template-columns: 70% 30%;
    /* grid-column-gap: 5px;
    grid-row-gap: 3px; */
    grid-gap: 10px;
}



.wrapper div{
    background-color: #eee;
    padding: 1em;
}
.wrapper div:nth-child(odd){
    background-color: #ddd;
}